 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>I am first ranker in Maths from Mumbai University, I am MTech Gold medallist from IIT Bombay. Teaching is my passion. I have taught and am presently teaching at St. Xavier’s College. I have taught many BSc. Maths students.   In the past I have taught many students after their 10th exams, especially for students wishing to do IIT, and they have found this extremely beneficial. Some of my students are studying in IIT, including my own son. I have spent 20 years in USA, and while my profession was IT, I have taught quite a few students at school level, advanced levels and SAT/GRE preparations. My experience in teaching in USA will be very useful to IB/IGCSE students. </p>
                </div>
            </div>
        </div>
    </section>