 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Shailesh</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>
                 He is a first ranker in Maths from Mumbai University, & MTech Gold medallist from IIT Bombay. Teaching is his passion. He has taught at St. Xavier’s College in the past, and teaches there on a part-time basis. He has taught many BSc. Maths students.   In the past he has taught many students after their 10th exams, especially for students wishing to do IIT, and they have found this extremely beneficial. Some of his students are studying in IIT, including his son. He has spent 20 years in USA as an IT professional. He has taught quite a few students at school level, advanced levels and SAT/GRE preparations. His experience in teaching in USA will be very useful to IB/IGCSE students.     
                    </p>
                </div>
            </div>
        </div>
    </section>
